@font-face {
    font-family: "Roboto Condensed";
    src: url("font/RobotoCondensed-Thin.ttf") format("truetype"),
    url("font/RobotoCondensed-ExtraLight.ttf") format("truetype"),
    url("font/RobotoCondensed-Light.ttf") format("truetype"),
    url("font/RobotoCondensed-Regular.ttf") format("truetype"),
    url("font/RobotoCondensed-Medium.ttf") format("truetype"),
    url("font/RobotoCondensed-SemiBold.ttf") format("truetype"),
    url("font/RobotoCondensed-Bold.ttf") format("truetype"),
    url("font/RobotoCondensed-ExtraBold.ttf") format("truetype"),
    url("font/RobotoCondensed-Black.ttf") format("truetype"),
    url("font/RobotoCondensed-ThinItalic.ttf") format("truetype"),
    url("font/RobotoCondensed-ExtraLightItalic.ttf") format("truetype"),
    url("font/RobotoCondensed-LightItalic.ttf") format("truetype"),
    url("font/RobotoCondensed-Italic.ttf") format("truetype"),
    url("font/RobotoCondensed-MediumItalic.ttf") format("truetype"),
    url("font/RobotoCondensed-SemiBoldItalic.ttf") format("truetype"),
    url("font/RobotoCondensed-BoldItalic.ttf") format("truetype"),
    url("font/RobotoCondensed-ExtraBoldItalic.ttf") format("truetype"),
    url("font/RobotoCondensed-BlackItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    color : #6091b1;
    font-weight: bold;
}

body {
    font-family: "Roboto Condensed" , sans-serif;
    font-weight: bold;
}

.menu_flex{
    background-color: rgb(183, 211, 243);
}
.text_menu {
    font-size: 30px;
    padding-top: 7px;
}

.contenu_page{
    padding-left: 100px;
    padding-right: 200px;
}

img{
    padding : 20px
}

.menu_flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;

    align-items: center;
    align-content: center;
    gap:20px;
    padding-left: 5px;
}

.cle_etrangere{
        color:red;
}

input:required {background-color: #c4c4c4;}
input[type="text"]:valid  {background-color: #ffffff;}

select:required {background-color: rgb(255, 254, 173);}